body {
    background-image: url(Arkaplan.jpg);

    
}
.overlay{
    height:100vh;
}
#headerSection .row {
    height:20vh;
    text-shadow: 2px 2px 10px black;
}
.navbar {
    border-bottom: 3px #141355 solid;
} 
.nav-link:hover{
    color: whitesmoke!important;

}